
body{
    margin: 0;
    padding: 0;
}
#first_div{
    background-color: #b65479;
    color: white;
}
.child_main{
color:white;
width: 50%;
margin: auto;
display: flex;
justify-content: space-evenly;
}
.child_main>.child_1{
padding-top: 20px;
}
.second_div_child>.language,.LOGIN{
font-size: 110%;
}
.second_div_child{
display: flex;
width: 17%;
margin-left: 78%;
justify-content: space-between;
padding: 10px 0px;
}
#second_div{
background-color: #f7f6f2;
}
.LOGIN:hover{
color: green;
cursor:cell;
}
.language:hover{
color: green;
cursor:pointer;
}
.main-child{
display: flex;
/* width: 105%; */
justify-content:space-between;
/* padding: 10px 0px; */
}
.third-Chiild_1{
display: grid;
grid-template-columns: repeat(2,1fr);
padding-left:5%;
font-size: 20px;
border-radius: 20%;
margin-top: 10px;
}
.third-Chiild_1 div{
padding: 10px;
}
.third-child-2{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 25%;
font-size: 30px;
/* background-color: blue; */
}
.third-child-2>div>input{
font-size: 20px;
width: 130%;
/* height: 100%; */
border-radius: 5px;
padding: 10px 0px;
margin-top: 10px;

}
.third-child-2>div:nth-child(2){
padding-top: 10px;
}
.third-child-2>div>input:focus{
padding: 2% 10%;

}
.third-Chiild_1>div:nth-child(1){
font-family: 'Tapestry', cursive;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
border-radius: 2px;

}
.third-Chiild_1>div:nth-child(1):hover{
color: blue;
}
.third-Chiild_1>div:nth-child(2):hover{
color:red;
}
.third-Chiild_1>div:nth-child(2){
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
font-family: 'Neonderthaw', cursive;
border-radius: 2px;
}
#Last-div{
display: flex;
width: 70%;
justify-content: space-between;
margin-left: 5%;
margin-top: 0px;
padding-bottom: 10px;
}
#Last-div a{
text-decoration: none;
color: black;
}
#Last-div a:hover{
color: blue;
}
header {
position: sticky;
top: 0;
left: 0;
width: 100%;
background-color: white;
}
.hover{
display: none;
position: absolute;
width: 300px;
background-color: white;
}
/* #############################---------Responsibness-_______________########### */
#hover-div1{
    display: flex;
    width: 200%;
    padding-left: 5%;
   }
   #hover-div1 img{
        width: 80%;
        height: 100%;
    }
   #hover-main1{
    display: none;
    position:absolute;
    background-color: white;
     margin-left: 5%;
   }
   #hover-div2{
    display: flex;
    width: 200%;
    padding-left: 5%;
   }
   #hover-div2 img{
        width: 80%;
        height: 100%;
    }
   #hover-main2{
    display: none;
    position:absolute;
    background-color: white;
     margin-left: 30%;
   }
   #div-child, #div-child-1,#div-child-2{
    display: flex;
    width: 120%;
    justify-content: space-between;
   }
   #hover-2,#hover-3,#hover-4{
    display: none;
    position: absolute;
    background-color: beige;
    margin-left: 10%;
    padding: 0px 10px;
   }
   #hover-2 img,#hover-3 img{
    width: 80%;
        height: 100%;
   }
   #hover-4 img{
width: 40%;
height: 100%;
   }
/* _______________resposibness____________ */
#res{
    display:none;
}
@media all and (min-width:1001px) and (max-width: 1300px){
    .language{
padding: 0 50px;
    }
}

@media all and (min-width: 601px) and (max-width: 1000px) {
    .language,.LOGIN{
display: none;
    }
    #res{
    display:block;
}
.main-child{
    flex-direction: column;
}
#Last-div{
    display: none;
}
}

@media all and (min-width: 200px) and (max-width: 600px) {
    .child_main{
        flex-direction: column;
    }
    .language,.LOGIN{
display: none;
    }
    #res{
    display:block;
}
.main-child{
    flex-direction: column;
}
#Last-div{
    display: none;
}
}
#responsLogin{
 background-color: blueviolet;
 display: none;
}